<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div id="task-manager">
        <div class="input-group mb-3">
          <input type="text" id="new-task-input" class="form-control" placeholder="Enter a new task">
          <button id="add-task-btn" class="btn btn-primary">Add Task</button>
        </div>
        <div id="tasks" class="row"></div>
      </div>
    </div>
  </div>
</div>